projects/project_2/*.bai
projects/project_2/*.bam
projects/project_2/*.???
projects/project_2/*.??
projects/project_2/*.vcf
projects/project_2/*.fastq
projects/project_2/*.mpileup
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
projects/project_1/data/amp_res_1.fastq
projects/project_1/data/amp_res_2.fastq
projects/project_1/data/alignment.bam
projects/project_1/data/*
bioalgoritms/week_2/Week_2_hw_Kravets.ipynb
projects/project_2/data/alignment.bam
projects/project_2/data/alignment.sam
projects/project_2/data/alignment_sorted.bam
projects/project_2/data/alignment_sorted.bam.bai
projects/project_2/data/amp_res_1.fastq
projects/project_2/data/amp_res_1_fastqc.html
projects/project_2/data/amp_res_1_fastqc.zip
projects/project_2/data/amp_res_2.fastq
projects/project_2/data/amp_res_2_fastqc.html
projects/project_2/data/amp_res_2_fastqc.zip
projects/project_2/data/GCA_000005845.2_ASM584v2_genomic.fna
projects/project_2/data/GCA_000005845.2_ASM584v2_genomic.fna.gz
projects/project_2/data/GCA_000005845.2_ASM584v2_genomic.gff.gz
projects/project_2/data/my.mpileup
projects/project_2/data/output_forward_paired.fastq
projects/project_2/data/output_forward_paired_30.fastq
projects/project_2/data/output_forward_paired_30_fastqc.html
projects/project_2/data/output_forward_paired_30_fastqc.zip
projects/project_2/data/output_forward_paired_fastqc.html
projects/project_2/data/output_forward_paired_fastqc.zip
projects/project_2/data/output_forward_unpaired.fastq
projects/project_2/data/output_forward_unpaired_30.fastq
projects/project_2/data/output_reverse_paired.fastq
projects/project_2/data/output_reverse_paired_30.fastq
projects/project_2/data/output_reverse_paired_30_fastqc.html
projects/project_2/data/output_reverse_paired_30_fastqc.zip
projects/project_2/data/output_reverse_paired_fastqc.html
projects/project_2/data/output_reverse_paired_fastqc.zip
projects/project_2/data/output_reverse_unpaired.fastq
projects/project_2/data/output_reverse_unpaired_30.fastq
