projects/project_2/*.bai
projects/project_2/*.bam
projects/project_2/*.???
projects/project_2/*.??
projects/project_2/*.vcf
projects/project_2/*.fastq
projects/project_2/*.mpileup
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
projects/project_1/data/amp_res_1.fastq
projects/project_1/data/amp_res_2.fastq
projects/project_1/data/alignment.bam
projects/project_1/data/*
